<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hisp.dhis.android.dashboard">

    <application
        android:name="org.hisp.dhis.android.dashboard.DhisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.App">

        <service
            android:name="org.hisp.dhis.android.dashboard.DhisService"
            android:exported="false" />

        <activity
            android:name="org.hisp.dhis.android.dashboard.ui.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Base.Theme.App.Dark" />

        <activity android:name="org.hisp.dhis.android.dashboard.ui.activities.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.hisp.dhis.android.dashboard.ui.activities.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/LightTheme" />
        <activity
            android:name="org.hisp.dhis.android.dashboard.ui.activities.ConfirmUserActivity"
            android:label="@string/title_activity_confirm_user" />
        <activity
            android:name="org.hisp.dhis.android.dashboard.ui.activities.DashboardElementDetailActivity"
            android:label="@string/title_activity_dashboard_item_detail" />
        <activity
            android:name="org.hisp.dhis.android.dashboard.ui.activities.InterpretationCommentsActivity"
            android:label="@string/title_activity_interpretation_comments" />
    </application>

</manifest>
