<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hisp.dhis.mobile.datacapture" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_label"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".io.DBContentProvider"
            android:authorities="org.hisp.dhis.mobile.datacapture.io.DBContentProvider"
            android:exported="false" />

        <activity
            android:name=".ui.activities.LauncherActivity"
            android:label="@string/app_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/LoginScreenTheme" >
        </activity>

        <activity
            android:name=".ui.activities.DashboardItemDetailActivity"
            android:label="@string/title_activity_dashboard_item_detail" >
        </activity>
        <activity
            android:name=".ui.activities.DashboardEditActivity"
            android:label="@string/title_activity_dashboard_edit" >
        </activity>
        <activity
            android:name=".ui.activities.ReportEntryActivity"
            android:label="@string/title_activity_report_entry"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>

</manifest>
